<div class="container p-12-md">
  <h4>Agenda tu cita</h4>
   <form>
  <div class="row">
    <div class="cell-md-2">
      <label>Afiliado*</label>
    </div>
    <div class="cell-md-4">
        <select data-role="select">
          <option value="C.C">Cedula de ciudadania</option>
          <option value="C.E">Cedula de extranjeria</option>
          <option value="C.NV">Certificado de nacido vivo</option>
          <option value="CDP">Carne diplomatico</option>
          <option value="nuip">N.U.I.P</option>
          <option value="pasaporte">Pasaporte</option>
          <option value="S.E">Servicio especial</option>
          <option value="RG">Registro civil</option>
          <option value="SP">Salvo conducto de permanencia</option>
          <option value="TI">Tarjeta de identidad</option>
        </select>
    </div>
    <div class="cell-md-5">
      <input type="text" placeholder="Ingrese documento"/>
    </div>
  </div>

  <div class="row">
    <div class="cell-md-2">
      <label>Seleccione fecha</label>
    </div>
    <div class="cell-md-4">
       <input type="text" data-role="calendarpicker">
    </div>
  </div>
  </form>
    <div class="row m-8 p-8">
      <div class="cell-md-4">
          <div class="button-group">
            <button class="button primary outline">Aceptar</button>
          </div>
      </div>
    </div>

</div>
